<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Definition for textEditor bean -->
	<!-- 这里的ref是引用另一个bean，同时传递的也可以是value，但必须给定具体值 -->
	<!-- 这是构造依赖注入 -->
	<!-- <bean id="textEditor" class="com.tutorialspoint.TextEditor">
		<constructor-arg ref="spellChecker" />
	</bean> -->
	
	<!-- Definition for textEditor bean -->
	<bean id="textEditor" class="com.tutorialspoint.TextEditor">
		<property name="spellChecker" ref="spellChecker"></property>
	</bean>

	<!-- Definition for spellChecker bean -->

	<bean id="spellChecker" class="com.tutorialspoint.SpellChecker"></bean>

</beans>
